* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15.5px;
}

html {
    overflow-x: hidden;
}

nav,
footer {
    background-color: #09681b;
}

.caixa1 {
    background-color: #EEEFF2;
}