/*.foto-editar-perfil{
    height: 22vw;
    max-height: 210px;  
    min-height: 120px;
}*/

#foto-editar-perfil {
    border-radius: 50%;
    object-fit: cover;
    width: 300px; 
    height: 337px;
}

form{
    max-width: 800px;
}