* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15.5px;
}

html {
    overflow-x: hidden;
}

nav.navbar,
footer {
    background-color: #09681b;
}

.caixa1 {
    background-color: #EEEFF2;
}

span ul.nav.flex-column {
    background-color: blue;
    border: 1px solid red;
}

.wrapper > iframe {
    width: 840px; 
    height: 472px;
}

@media screen and (max-width: 900px) {
    .wrapper > iframe {
        width: 100%;
        height: 200px;
    }
}